/* style.css */

/*style.css */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: blue;
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2039de;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  color: #333;
}

button {
  background-color: #3314cd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #000409;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #888;
}
.biggest-box {
  background-color: red;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.side-box {
  background-color: #2a4b66;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
}

.button {
  width: 5rem;
  background-color: #06365f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.text-block-div {
  background-color: #1c5380;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

footer {
  /* background-color: #31e937;
  color: white; */
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  /* text-align: center; */
}

.instagram-row {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
